<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <a class="navbar-brand">Team-2</a>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/news']" [routerLinkActive]="['active']">News
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/scores']" [routerLinkActive]="['active']">Recent Matches
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/players']" [routerLinkActive]="['active']">Players
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/score-table-container']" [routerLinkActive]="['active']">Scores
        </a>
      </li>
    </ul>
  </div>
