<nav navbar sticky-top>
  <a id="logo">asd</a>
  <div>
    <ul class="d-flex flex-row">
      <li class="flex-fill">
        <a [routerLink]="['/news']" [routerLinkActive]="['active']">News</a>
      </li>
      <li class="flex-fill">
        <a [routerLink]="['/scores']" [routerLinkActive]="['active']">Recent Matches</a>
      </li>
      <li class="flex-fill">
        <a [routerLink]="['/players']" [routerLinkActive]="['active']">Players</a>
      </li>
      <li class="flex-fill">
        <a [routerLink]="['/teams']" [routerLinkActive]="['active']">Teams</a>
      </li>
    </ul>
  </div>
</nav>
