<div (click)=" toggleChange()" class="hamburger d-flex flex-column justify-content-around">
  <div class="inner d-flex flex-column justify-content-around">
    <div class=" btn-ele ele1" [ngClass]="{'change': isChanged === true}"></div>
    <div class="btn-ele ele2" [ngClass]="{'change': isChanged === true}"></div>
    <div class="btn-ele ele3" [ngClass]="{'change': isChanged === true}"></div>
  </div>
</div>
<nav navbar sticky-top d-flex flex-row [ngClass]="{'changed': isChanged === true}">

  <div [ngClass]="{'changed': isChanged === true}" class="list">
    <ul class="d-flex flex-row">
      <li class="flex-fill">
        <a [routerLink]="['/news']" [routerLinkActive]="['active']">News</a>
      </li>
      <li class="flex-fill">
        <a [routerLink]="['/scores']" [routerLinkActive]="['active']">Recent Matches</a>
      </li>
      <li class="flex-fill">
        <a [routerLink]="['/players']" [routerLinkActive]="['active']">Players</a>
      </li>
      <li class="flex-fill">
        <a [routerLink]="['/teams']" [routerLinkActive]="['active']">Teams</a>
      </li>
    </ul>
  </div>
</nav>
