header {
  background-image: url(https://images.pexels.com/photos/1752757/pexels-photo-1752757.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  width: 100%;
  display: block;
  background-color: darkblue;
  border-bottom: 1px solid rgba(204, 99, 0, .3);
}
