<div class="panel d-flex">
  <div class="team home">
    <img src="https://picsum.photos/70?random={{score.home_team.id}}" alt="">
    <div>
      <p class="name">{{score.home_team.full_name}}</p>
      <p class="score">{{score.home_team_score}}</p>
    </div>
  </div>
  <div class="versus flex-fill">vs</div>
  <div class="team visitor">
    <img src="https://picsum.photos/70?random={{score.visitor_team.id}}" alt="">
    <div>
      <p class="name">{{score.visitor_team.full_name}}</p>
      <p class="score">{{score.visitor_team_score}}</p>
      <!-- <p *ngIf="{{isOpened}}">asdasdasdas</p> -->
    </div>
  </div>
</div>
